@import '~antd/dist/antd.css';
.page-content {
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
}

.page-action {
    margin-top: 24px;
}

.action-button {
    float: right;
    margin: 5px;
}

.fl-layout {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
}

#approot {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
}

.fl-pageheader-wrap {
    display: flex;
}

.fl-pageheader-content {
    flex: 1;
}

.fl-pageheader-extracontent {
    min-width: 240px;
    text-align: right;
}

.fl-pageheader-content .fl-pageheader-padding {
    padding-left: 40px;
}

.fl-pageheader-content .fl-pageheader-description {
    display: table;
}

.fl-pageheader-description .fl-pageheader-term {
    display: table-cell;
    margin-right: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    line-height: 20px;
}

.fl-pageheader-description .fl-pageheader-term:after {
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 2px;
    content: ":";
}

.fl-pageheader-description .fl-pageheader-detail {
    display: table-cell;
    padding-bottom: 8px;
    width: 100%;
    line-height: 20px;
}


.ant-layout-header {
    padding: 0;
}

.ant-layout-footer {
    background: #7dbcea;
    color: #fff;
    padding: 0;
}

.ant-layout-footer {
    line-height: 10;
}

.ant-menu-horizontal {
    line-height: 64px;
}

.ant-layout-sider {
    background: #3ba0e9;
    color: #fff;
    line-height: 120px;
}

.ant-layout-content {
    border-top: 2px solid rgb(175, 175, 175);
    border-bottom: 2px solid #ffee;
    /* padding: 5px; */
    /* background:#7dbcea; */
    color: #fff;
    height: calc(100vh - 120px);
    line-height: 120px;
}

.ant-tabs-tabpane {
    height: 74vh;
}

.fl-main {
    padding: "10px";
    height: "100%"
}